.dashboard{ng: {controller: 'DashboardCtrl'}}
  %table.table
    %thead
      %tr
        %th
          User
        %th
          Total accounts number 
        %th
          Accounts followed
        %th
          Followed Back
        %th
          Days since launched
        %th
          Followed per day average
        %th
          Followed back per day average
    %tbody.user-data
      %tr{ng: {repeat: 'user in data'}}
        %td
          {{user.name}}
        %td
          {{user.accounts}}
        %td
          {{user.accounts_followed}}
        %td
          {{user.accounts_followed_back}}
        %td
          {{user.days_of_work}}
        %td
          {{user.followed_per_day}}
        %td
          {{user.followed_back_per_day}}
  %h1 
    Details
  .user-details{ng: {repeat: 'user in data'}}
    %h4
      {{user.detailed_data}} {{user.name}}
    .following{ng: {repeat: 'detail in user.detailed_data'}}
      {{detail.starts}}
      {{detail.count}}
