.dashboard{ng: {controller: 'DashboardCtrl'}}
  .user-data{ng: {repeat: 'user in data'}}
    %h1 Total accounts number {{user.accounts}}
    %h1 Accounts followed {{user.accounts_followed}}
    %h1 Followed Back {{user.accounts_followed_back}}
    %h1 People Followed