.dashboard{ng: {controller: 'DashboardCtrl'}}
  %h1 Total accounts number {{data.accounts}}
  %h1 Accounts followed {{data.accounts_followed}}
  %h1 Followed Back {{data.accounts_followed_back}}
  %h1 People Followed