.user-mine{ng: {controller: 'UserMineCtrl'}}
  %h1 Mine
  %a.btn.btn-success{ng: {click: 'mine()'}}
    Mine selected users

  .account{ng: {repeat: 'account in accounts | filter:{selected:true}'}}   
    %a{href: 'twitter.com/{{account.handle}}/following', target: '_'} {{account.handle}} following page

  .account{class: 'selected-{{account.to_mine}} mined-{{account.was_mined}}', ng: {repeat: 'account in accounts', click: 'account.to_mine=!!!account.to_mine'}}
    %img{ng: {src: '{{account.image_url}}'}}
    %h5 {{account.handle}}  
    %p {{account.name}}
    %h3 {{account.to_mine}} 

