%h1 Welcome to SocialMeow Experiment App where I experiment with APIs!!
%a{ui: {sref:'batches'}} Batches
%a{ui: {sref:'/'}} Hello
%a{ui: {sref:'user_info'}} User Info
%a{ui: {sref:'user_mine'}} User Mine
